<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings</title>

    <!------------------ STYLES ------------------>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/listing.css">

    <style>
      h1 {
        font-size:
      }
    </style>

  </head>
  <body>

    <div class="container">

      <h1>results for '{{term}}'</h1>
      <ul>
        {{#each results}}
        <div class="row">
          <li>
            <div class="col s3">
              <img src="{{image_url}}" class="responsive-img"><br>
            </div>
            <div class="col s9">
              <!------ NOTE: Add link to restaurant detail page ------>
              <strong><a href="/detail/?search_term={{name}}">{{name}}</a></strong><br>
              {{atmosphere}} atmosphere | {{parking}} parking | {{busy}}<br>
              Description: {{description}}<br>
              <a href="http://maps.google.com/?q={{address}}">{{address}}</a> | Phone: <a href="tel:{{phone}}">{{phone}}</a>
            </div>
          </li>
        </div><!-- .row -->
        {{/each}}
      </ul>

    </div><!-- .container -->

    <!------------------- SCRIPTS ------------------->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!------ NOTE: Fix reference to Google Fonts (see error in console) --->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/hbs-helpers.js"></script>

    </script>
    <script>
    </script>
  </body>
</html>
