<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TEST-Listing Page</title>
  </head>
  <body>
    <h1>Search Results</h1>
    <ul>
    <li>
      <img src="{{result.image_url}}" width="150"><br>
      <strong>{{result.name}}</strong><br>
      Atmosphere: {{result.atmosphere}}<br>
      Parking: {{result.parking}}<br>
      Busy: {{result.busy}}<br>
      Description: {{result.description}}<br>
      Phone: {{result.phone}}<br>
      Address: {{result.address}}
    </li>
</ul>
  </body>
</html>
