<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TEST-Listing Page</title>
  </head>
  <body>
    <h1>Search Results</h1>
    <ul>
  {{#each results}}
    <li>
      <img src="{{image_url}}" width="150"><br>
      <strong>{{name}}</strong><br>
      Atmosphere: {{atmosphere}}<br>
      Parking: {{parking}}<br>
      Busy: {{busy}}<br>
      Description: {{description}}<br>
      Phone: {{phone}}<br>
      Address: {{address}}
    </li>
  {{/each}}
</ul>
  </body>
</html>
